<!-- Inside your_app/templates/your_app/library_detail.html -->
{% extends '_base.html' %}

{% block content %}
<h1>{{ library.name }}</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Published</th>
            <th>Format</th>
            <!-- Add other book attributes here as needed -->
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for book in library.books.all %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.published }}</td>
            <td>{{ book.pages }}</td>
            <td>{{ book.get_format_display }}</td>
            <!-- Display other book details -->
            <td>
                <a href="{% url 'delete_book' book.id %}" onclick="return confirm('Are you sure?');">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No books found in this library.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p></p>
<a href="{% url 'add_book_to_library' library_id=library.id %}" class="btn btn-primary">Add Book</a>

{% endblock %}