{% extends '_base.html' %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Welcome to Your Personal Library and Reading Log!</h1>
    <p class="lead">Keep track of your books and reading progress easily.</p>
    <hr class="my-4">
    <p>Explore your library, add new books, and log your reading experiences.</p>
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-4 mb-2">
            <a class="btn btn-primary btn-lg" href="{% url 'library_app:user_books' %}" role="button">View My Library</a>
        </div>
        <div class="col-12 col-md-4 mb-2">
            <a class="btn btn-secondary btn-lg" href="{% url 'reading_log:user_reading_log' %}" role="button">View My Reading Log</a>
        </div>
    </div>
</div>
{% endblock %}
